body {
  cursor: url(https://lisgnewspaperarchival.github.io/cursors/pointer.png), default;
  background: rgb(25,189,8);
  background: linear-gradient(180deg, rgba(25,189,8,1) 0%, rgba(48,142,8,1) 100%);
}

button,a {
  cursor: url(https://lisgnewspaperarchival.github.io/cursors/click.png), pointer;
}

p,h1,h2,h3,h4,h5,h6 {
  cursor: url(https://lisgnewspaperarchival.github.io/cursors/text.png), text;
}
