body {
  cursor: url(https://lisgnewspaperarchival.github.io/cursors/pointer.png), default;
  background: linear-gradient(180deg, rgba(25,189,8,1) 0%, rgba(48,142,8,1) 100%);
}

a {
  cursor: url(https://lisgnewspaperarchival.github.io/cursors/click.png), pointer;
}

button {
  background: linear-gradient(180deg, rgba(237,237,237,1) 0%, rgba(199,199,199,1) 100%);
  border: 2px solid #999999;
  border-radius: 3px;
  cursor: url(https://lisgnewspaperarchival.github.io/cursors/click.png), pointer;
}
button:hover {
  background: linear-gradient(180deg, rgba(210,224,224,1) 0%, rgba(182,199,200,1) 100%);
  border: 2px solid #79C0C7;
}

p,h1,h2,h3,h4,h5,h6 {
  cursor: url(https://lisgnewspaperarchival.github.io/cursors/text.png), text;
  text-align: center;
}

h1 {
  font: "Brush Script MT";
}

a {
  font-size: 200%;
}
